<div class="footer-bottom">
      
      <div class="copyright">
        © {{ currentYear }} {{ brandName }}. Todos los derechos reservados.
      </div>

      <div class="heart-text">
        <span>Hecho con</span>
        <span class="heart">💙</span>
        <span>y mucho</span>
        <span class="coffee">☕</span>
        <span>en Perú</span>
      </div>

      <div class="version-info">
        <span class="version-badge">{{ version }}</span>
        <span>•</span>
        <span>Next Gen Web</span>
      </div>
      
    </div>