:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 50;
  overflow: hidden;
}

.particles-canvas {
  display: block !important;
  outline: none;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: transparent !important;
}