 <div class="loader-container" [class.fade-out]="!loaderService.state().isLoading">
      <app-loading-particles [count]="particleCount()"></app-loading-particles>
      
      <div class="loader-content">
        <app-animated-logo
          [text]="logoText()"
          [subtitle]="subtitle()"
          [isVisible]="loaderService.state().showLogo">
        </app-animated-logo>
        
        <app-progress-bar
          [progress]="loaderService.state().progress"
          [message]="loaderService.state().message"
          [isVisible]="loaderService.state().showProgress">
        </app-progress-bar>
      </div>
    </div>